body {
    font-family: "Roboto", Verdana;
    background-color: black;
  }
  main {
    width: 100%;
    
  }
  
  main h1 {
    color: white;
    
  }
  
  main h6 {
    color: white;
  }
  
  .redondo{
    display: block;
    width: 200px;
    height: 30px;
    border-radius: 15%;
    color: white;
    background: rgb(206,80,80);
  }
  
  p.content {
    font-size: 0.8rem;
    width: 80%;
    background-color: aliceblue;
    border-radius: 4px;
    padding: 8px 10px;
    margin-left: 5px;
    line-height: 1.5rem;
  }
  
  main .avatar {
    margin-left: 50px;
  }